table, th, td {
  border: 1px solid black;
  padding: 5px;
  background-color: #fff;
}

.container {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin: flex;
  padding: 1rem;
  width: 90%;
  padding-bottom: 10rem;
  /* flex-wrap: wrap; */
  /* align-items: stretch; */
  /* align-content: center; */
}

.input-child {
    border: 1px solid rgba(165, 166, 179, 0.427);
    padding: 1rem;
    background-color: #fff;
    display: inline-block;
}


.table-child {
    padding: 1rem;
    flex-grow: 1;
    /* background-color: #fff; */
}

body {
  background-color: rgba(232, 238, 238, 0.735);
}

.front-page {
  padding: 3rem;
  background-color: #fff;
  width: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgba(2, 5, 9, 0.372);
}

.title-text {
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-text {
  font-size: 3rem;
  text-align: center;
}

.first-container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin: flex;
}

.btn {
  font-size: 2rem;
  padding: 1rem;
}

.btn-container {
  padding: 1rem;
}

.add {
  padding: 3rem;
  width: 90%;
  margin: auto;
}